{
  "presets": [
    ["env", { "modules": false }],
    "stage-3"
  ],
  "plugins": [
    "syntax-jsx",
    ["transform-react-jsx", {
      "pragma": "main.createElement" // default pragma is React.createElement
    }]
  ]
}
